html{
    font-size:10px;
}

body{
    margin:0;
    padding:0;
    background-color: rgb(12, 11, 11);
    color:white;
    font-family: "Metal Mania", cursive;
}

.App{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:3rem;
}

/* Navbar */

.navbar{
    font-size:1.8rem;
    cursor:pointer;
}

.navbar-toggler{
    background-color: rgba(7, 218, 95, 0.2);
    border-radius:1px solid yellow;
    /* margin: 0 auto; */
}


/* Cover */
.cover{
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    cursor:pointer;
    margin-top:0;
}

.cover img{
    border:10px solid black;
    max-width:100%;
    height:auto;
}

.new{
    opacity:0;
    font-size:2rem;
}

.cover:hover .new{
    opacity:1;
}

.fab, .far,.fas{
    font-size:2.5rem;
    cursor:pointer;
}

a{
    text-decoration:none;
    color:red;
}

.cover a:last-child{
    color:orange;
}

/* Favorites */
.favPage{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.favItem{
    padding:0.5rem;
    border:0.5rem solid rgb(34, 32, 32);
    margin-bottom:2rem;
    border-radius:1rem;
    text-align:center;
}

.favItem a:last-child{
    color:orange;
}

.favPage h1{
    font-size:4rem;
    text-align:center;
}

.fa-minus-square, .fa-plus-square:hover{
    color:rgb(87, 223, 171);
}

.fa-minus-square:active{
    margin-left:1rem;
}

.fa-plus-square:active{
    margin-left:1rem;
}

/* Media queries */

@media(max-width:767px){
    nav li{
        font-size:1.8rem;
    }

    .nav-link{
        background-color:rgba(7, 218, 95, 0.8);
        width:30%;
        text-align:center;
        font-family: 'Arial', sans-serif;
        /* margin:0 auto; */
    }
}


@media(max-width:415px){
    .App{
        font-size:3.1rem;
    }

    .cover{
        margin-top:20%;
    }

    .fab,.far,.fas{
        font-size: 3rem;
    }
    .new{
        font-size:1.2rem;
    }
    img{
        width:100%;
        height:auto;
    }

    .navbar-toggler{
        font-size:2rem;
    }
}

@media(max-width:320px){
    .App{
        font-size:2.8rem;
    }

    .fab,.far,.fas{
        font-size: 2.7rem;
    }

}