html{
    font-size:10px;
}

body{
    margin:0;
    padding:0;
    background-color: rgb(12, 11, 11);
    color:white;
    font-family: "Metal Mania", cursive;
}

.App{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:3rem;
}

/* Navbar */

.navbar{
    font-size:1.8rem;
    cursor:pointer;
}

.navbar-toggler{
    background-color: rgba(7, 218, 95, 0.2);
    border-radius:1px solid yellow;
}

/* Cover */
.cover{
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    cursor:pointer;
    margin-top:0;
}

.cover img{
    border:10px solid black;
    max-width:100%;
    height:auto;
}

.new{
    opacity:0;
    font-size:2rem;
}

.cover:hover .new{
    opacity:1;
}

.fab{
    font-size:2.5rem;
}

a{
    text-decoration:none;
    color:red;
}

.cover a:last-child{
    color:orange;
}

/* Media queries */

@media(max-width:767px){
    nav li{
        font-size:1.5rem;
    }

    .nav-link{
        background-color:rgba(7, 218, 95, 0.8);
        width:15%;
        text-align:center;
        font-family: 'Arial', sans-serif;
    }
}


@media(max-width:415px){

    .App{
        font-size:1.8rem;
    }

    .fab{
        font-size: 1.7rem;
    }
    .new{
        font-size:1.2rem;
    }
    img{
        width:100%;
        height:auto;
    }

    .navbar-toggler{
        font-size:2rem;
    }
}